---
- name: Pobranie adresu IP pierwszego węzła Cassandra (seed)
  hosts: gcp_vms[0]
  become: yes
  gather_facts: no
  tasks:
    - name: Pobierz wewnętrzny adres IP maszyny
      ansible.builtin.shell: "hostname -I | awk '{print $1}'"
      register: internal_ip
      changed_when: false

    - name: Ustaw fakt z adresem IP pierwszego węzła (seed)
      ansible.builtin.set_fact:
        cassandra_seed_ip: "{{ internal_ip.stdout }}"
        cacheable: yes

- name: Pobranie adresu IP ostatniego węzła Cassandra (jeśli jest więcej niż 3)
  hosts: gcp_vms[-1]
  become: yes
  gather_facts: no
  when: groups['gcp_vms'] | length > 3
  tasks:
    - name: Pobierz wewnętrzny adres IP maszyny
      ansible.builtin.shell: "hostname -I | awk '{print $1}'"
      register: internal_ip
      changed_when: false

    - name: Ustaw fakt z adresem IP ostatniego węzła (seed)
      ansible.builtin.set_fact:
        last_node_ip: "{{ internal_ip.stdout }}"
        cacheable: yes

- name: Dodawanie i konfiguracja NOWEGO węzła Apache Cassandra
  hosts: all # Ten playbook uruchamiaj z opcją --limit, aby celować tylko w nowy węzeł
  become: yes
  gather_facts: no

  vars:
    # Dynamiczne tworzenie listy seedów. Jeśli jest >3 hostów, dodaj ostatni.
    cassandra_seeds: "{{ hostvars[groups['gcp_vms'][0]]['cassandra_seed_ip'] }}{{ ',' + hostvars[groups['gcp_vms'][-1]]['last_node_ip'] if groups['gcp_vms'] | length > 3 else '' }}"
    # is_initial_cluster_setup jest celowo pominięte (domyślnie false)

  tasks:
    - name: Gather facts manually
      ansible.builtin.setup:

  roles:
    - cassandra_node
