---
- name: Configure FTP Server on Rocky Linux
  hosts: ftp
  become: yes
  gather_facts: yes
  tasks:
    - name: Install vsftpd
      ansible.builtin.dnf:
        name: vsftpd
        state: present

    - name: Create FTP user and set their home directory to the jail
      ansible.builtin.user:
        name: "{{ ftp_user }}"
        password: "{{ ftp_password | password_hash('sha512') }}"
        home: "/home/{{ ftp_user }}/ftp"
        shell: /sbin/nologin
        state: present

    - name: Create FTP root directory (chroot parent)
      ansible.builtin.file:
        path: "/home/{{ ftp_user }}/ftp"
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Create writable subdirectory for FTP user
      ansible.builtin.file:
        path: "/home/{{ ftp_user }}/ftp/files"
        state: directory
        owner: "{{ ftp_user }}"
        group: "{{ ftp_user }}"
        mode: '0755'

    - name: Configure vsftpd
      ansible.builtin.blockinfile:
        path: /etc/vsftpd/vsftpd.conf
        block: |
          anonymous_enable=NO
          local_enable=YES
          write_enable=YES
          chroot_local_user=YES
          pasv_enable=YES
          pasv_min_port=21000
          pasv_max_port=21010
          pasv_addr_resolve=YES
          pasv_address={{ ansible_default_ipv4.address }}
          userlist_enable=YES
          userlist_file=/etc/vsftpd/user_list
          userlist_deny=NO
        create: no
        backup: yes
      notify: restart vsftpd

    - name: Ensure /sbin/nologin is in /etc/shells for vsftpd
      ansible.builtin.lineinfile:
        path: /etc/shells
        line: /sbin/nologin
        state: present
        create: yes

    - name: Add FTP user to the allowed user list
      ansible.builtin.lineinfile:
        path: /etc/vsftpd/user_list
        line: "{{ ftp_user }}"
        create: yes
        state: present

    - name: Configure firewalld for FTP
      ansible.posix.firewalld:
        service: ftp
        permanent: yes
        state: enabled
        immediate: yes

    - name: Configure firewalld for passive FTP ports
      ansible.posix.firewalld:
        port: 21000-21010/tcp
        permanent: yes
        state: enabled
        immediate: yes

    - name: Install SELinux management libraries
      ansible.builtin.dnf:
        name:
          - python3-libsemanage
          - policycoreutils-python-utils
        state: present

    - name: Set SELinux context for FTP home directory for read-write access
      ansible.builtin.command: "semanage fcontext -a -t public_content_rw_t '/home/{{ ftp_user }}(/.*)?'"
      register: fcontext_add_result
      changed_when: "fcontext_add_result.rc == 0"
      failed_when: "fcontext_add_result.rc != 0 and 'File context for /home/' + ftp_user + '(/.*)? already defined' not in fcontext_add_result.stderr"

    - name: Apply SELinux context changes
      ansible.builtin.command: restorecon -R /home/{{ ftp_user }}
      changed_when: true

    - name: Configure SELinux for FTP access to home directories
      ansible.builtin.command: "setsebool -P tftp_home_dir on"
      changed_when: true

    - name: Allow FTP passive mode connections with SELinux
      ansible.builtin.command: "setsebool -P ftpd_connect_all_unreserved on"
      changed_when: true
    - name: Enable password authentication for SSH
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PasswordAuthentication'
        line: 'PasswordAuthentication yes'
        state: present
        backup: yes
      notify: restart sshd

    - name: Harden SSH configuration
      ansible.builtin.blockinfile:
        path: /etc/ssh/sshd_config
        block: |
          AllowTcpForwarding no
          X11Forwarding no
        marker: "# {mark} ANSIBLE MANAGED BLOCK FOR FTP SECURITY"
      notify: restart sshd

    - name: Enable and start vsftpd service
      ansible.builtin.service:
        name: vsftpd
        enabled: yes
        state: started

  handlers:
    - name: restart vsftpd
      ansible.builtin.service:
        name: vsftpd
        state: restarted
    - name: restart sshd
      ansible.builtin.service:
        name: sshd
        state: restarted
