---
- name: Create Cassandra Keyspace and Tables
  hosts: database[0]
  become: yes
  gather_facts: no
  tasks:
    - name: Copy CQL script to the remote node
      ansible.builtin.copy:
        src: ../../etl/create_tables.cql
        dest: /tmp/create_tables.cql
        mode: '0644'

    - name: Execute the CQL script to create schema
      ansible.builtin.command: "cqlsh -f /tmp/create_tables.cql"
      changed_when: true

    - name: Remove the temporary CQL script
      ansible.builtin.file:
        path: /tmp/create_tables.cql
        state: absent
