---
- name: Create Cassandra Keyspace and Tables
  hosts: database[0]
  become: yes
  gather_facts: true
  tasks:
    - name: Instalacja cqlsh przez pip
      ansible.builtin.pip:
        name: cqlsh
        state: present

    - name: Ustawienie zmiennej CQLSH_NO_BUNDLED w .bashrc
      ansible.builtin.lineinfile:
        path: "~/.bashrc"
        line: "export CQLSH_NO_BUNDLED=true"
        create: yes
        state: present
        mode: '0644'


    - name: Kopiowanie skryptu CQL na zdalny węzeł
      ansible.builtin.copy:
        src: ../../etl/create_tables.cql
        dest: /tmp/create_tables.cql
        mode: '0644'

    - name: Wykonanie skryptu CQL w celu utworzenia schematu
      ansible.builtin.shell: "source ~/.bashrc && cqlsh {{ ansible_default_ipv4.address }} 9042 -f /tmp/create_tables.cql"
      args:
        executable: /bin/bash
      changed_when: true

    - name: Usunięcie tymczasowego skryptu CQL
      ansible.builtin.file:
        path: /tmp/create_tables.cql
        state: absent
