---
- name: Secure Cassandra Cluster
  hosts: database
  become: yes
  gather_facts: no
  vars:
    cassandra_auth_enabled: true
  tasks:
    - name: Enable Cassandra authentication in cassandra.yaml
      ansible.builtin.template:
        src: ../roles/cassandra_node/templates/cassandra.yaml.j2
        dest: /etc/cassandra/default.conf/cassandra.yaml
        owner: cassandra
        group: cassandra
        mode: '0644'
      notify: Restart Cassandra

  handlers:
    - name: Restart Cassandra
      ansible.builtin.service:
        name: cassandra
        state: restarted

- name: Create Superuser and Disable Default User
  hosts: database[0]
  become: yes
  gather_facts: no
  vars_prompt:
    - name: "db_user"
      prompt: "Enter the desired database username"
      default: "{{ lookup('env', 'DATABASE_USER') }}"
      private: no
    - name: "db_pass"
      prompt: "Enter the desired database password"
      default: "{{ lookup('env', 'DATABASE_PASSWORD') }}"
      private: yes
  tasks:
    - name: Fail if db_user or db_pass is not provided
      ansible.builtin.fail:
        msg: "Both db_user and db_pass must be provided. Check your .env file or pass them as extra-vars."
      when: db_user is not defined or db_user == "" or db_pass is not defined or db_pass == ""

    - name: Wait for Cassandra to be ready after restart (up to 2 minutes)
      ansible.builtin.wait_for:
        port: 9042
        host: "{{ ansible_host }}"
        delay: 30
        timeout: 120
      delegate_to: localhost

    - name: Create the new superuser
      ansible.builtin.command: "cqlsh {{ ansible_host }} -u cassandra -p cassandra -e \"CREATE USER IF NOT EXISTS '{{ db_user }}' WITH PASSWORD '{{ db_pass }}' SUPERUSER;\""
      changed_when: true

    - name: Disable the default 'cassandra' user
      ansible.builtin.command: "cqlsh {{ ansible_host }} -u '{{ db_user }}' -p '{{ db_pass }}' -e \"ALTER USER cassandra WITH PASSWORD 'disabled-and-random-password-{{ 100000 | random }}' NOSUPERUSER NOLOGIN;\""
      changed_when: true
      ignore_errors: yes # Ignore errors if user 'cassandra' is already altered
