---
- name: Playbook do tworzenia maszyny wirtualnej ze statycznym IP i aktualizacji inwentarza
  hosts: localhost
  connection: local
  gather_facts: no

  vars_files:
    - ../vars/main.yml

  pre_tasks:
    - name: Tworzenie statycznego zewnętrznego adresu IP dla nowej maszyny
      google.cloud.gcp_compute_address:
        name: "{{ gcp_external_ip_name }}"
        region: "{{ gcp_region }}"
        project: "{{ gcp_project_id }}"
        auth_kind: "serviceaccount"
        service_account_file: "{{ gcp_service_account_file }}"
        state: present
      register: gcp_static_ip

    - name: Ustawienie faktu z adresem statycznego IP
      ansible.builtin.set_fact:
        gcp_static_ip_address: "{{ gcp_static_ip.address }}"

  roles:
    - gcp_vm

  post_tasks:
    - name: Ensure gcp_vms group exists
      ansible.builtin.group_by:
        key: gcp_vms
      changed_when: false

    - name: Ustawienie faktu z liczbą hostów
      ansible.builtin.set_fact:
        host_count: "{{ groups['gcp_vms'] | default([]) | length }}"

    - name: Określenie numeru RACK dla nowej maszyny
      ansible.builtin.set_fact:
        new_rack: "{{ 'RACK1' if host_count|int < 1 else 'RACK2' }}"

    - name: Dodanie nowej maszyny do pliku inwentarza gcp_inventory.ini
      ansible.builtin.lineinfile:
        path: "../gcp_inventory.ini"
        line: "{{ gcp_instance_name }} ansible_host={{ gcp_static_ip_address }} ansible_user={{ gcp_ssh_user }} ansible_ssh_private_key_file={{ gcp_ssh_private_key_file }} cassandra_dc=DC1 cassandra_rack={{ new_rack }}"
        create: yes
        insertafter: '\[gcp_vms\]'
        regexp: "^{{ gcp_instance_name }}\\s.*$" # Zapobiega duplikatom, dopasowując linię zaczynającą się od nazwy hosta
      delegate_to: localhost
